.Mydiv{
	height:300px;
	width:300px;
	background:red;
	padding-top:10px;
	
}
.Mydiv1{
	height:300px;
	width:300px;
	background:blue;
	padding-top:10px;
	margin-top:5px;
	margin-left:20px;
	
}